*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{   
    background-color: rgb(223, 134, 26);
}
#main{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
    background-color: #fff;
    width: 1000px;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0 8px 60px -10px rgb(13 28 39 / 60%);
    min-height: 250px;
    
}

 #main .avatar{
    width: 300px;
    height: 300px;
    float: right;
    border-radius: 150px;
    box-shadow: 0 0 0 3px rgb(223, 134, 26);
} 
#main .about{
    margin-left: 100px;
    text-align: justify;
    width: 350px;
}
#main .about >h1{
    text-transform: uppercase;
    font-family:"Courier New", Courier, monospace;
}
h1 + p{
    font-size: 20px;
    opacity: 0.5;
    font-style: italic;
    margin: 20px 0;
    text-align: justify;
    line-height: 25px;
}
#main .btn1{
    margin-right: 10px;
}
#main .infor{
    font-size: 20px;
    line-height: 25px;
}
#header{
    height: 50px;

}
#nav{
    width: 60%;
    display: inline-block;

}
#nav li{
    display: inline;
}
#nav li a{
    line-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    font-family:"Courier New", Courier, monospace;
    font-size: 25px;
    text-decoration: none ;
    display: inline-block;
}
#nav li:hover a{
    background-color: #ccc;
}
#header .search{
        width: 30%;
        display: inline-block;
        float: right;
        line-height: 50px;
}
.search{
    margin-top: 10px;
}
.search button{
    width: 60px;
    height: 30px;
 
}
.search input{
    width: 200px;
    height: 30px;
}



