*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 24px;
    background-color: #8699DA;
    font-family: sans-serif;
    letter-spacing: 2px;
}
#main{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
    position: relative;
    margin: auto ;
    margin-top: 200px;
    width: 1600px;
    height: 900px;
    background-color: #fff;
    border-radius: 80px;
}

/* Menu */

#menu{
    align-items: center;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 76px ;
    padding-right: 67px;
}
#menu__nav{
    margin-right: 57px;
    display: flex;
    flex-direction: row ;
    list-style-type: none;
    line-height: 50px;
}
#menu__nav li:hover{
    background-color: #9EB0EA;
}
#menu__nav a{
    color: #444B59;
    font-family: sans-serif  ;
    margin-left:40px ;
    margin-right: 40px;
    text-decoration: none;
}
#menu__nav .ti-angle-down{
    padding-left: 5px;
    font-size: 16px;
}
#login{
    padding: 0 1000px 96px 76px;
}

.img{
    position: absolute;
    left: 807px;
    top: 220px;
    width: 710px;
    height: 600px;
}
/* login */
#login{
    position: absolute;
    top: 76px;
}
 .login__header{
    font-size: 36px;
    text-transform: uppercase;
    padding-bottom: 15px;
}
 .login__input--user{
    padding-top: 80px;
}   
.login__input--user input{
    margin-top: 30px;
    width: 92%;
    height: 72px;
    border-radius: 50px;
    border: 1px solid #789ADE ;
}
#input--user-box{
    font-size: 20px;
    padding-inline-start: 32px ;
}

.login__input--pass{
    padding-top: 30px;
}   
.login__input--pass input{
    margin-top: 30px;
    width: 92%;
    height: 72px;
    border-radius: 50px;
    border: 1px solid #8699DA ;
    margin-bottom: 30px;
}
#input--pass-box{
    font-size: 20px;
    padding-inline-start: 32px ;
}
.login__input--btn{
    display: inline-block;
}
.login__input--btn .state{
    font-size: 20px;
}
.login__input--forget{
    display: inline-block;
    padding-bottom: 30px;
}
.login__input--forget >a{
    font-size: 20px;
    text-decoration: none;
    color: #789ADE ;
}
.login__sign-in{
    background-color: #8699DA;
    height: 72px;
    text-align: center;
    line-height: 72px;
    border-radius: 80px;
}
.login__sign-in a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.login__social--title{
    position: relative;
    height: 10px;
    padding-top: 26px;
    text-align: center;
    font-size: 20px;
}
.login__social--title #line{
    top:40px;
    position: absolute;
    width: 100%;
    border: 2px solid #8699DA;
}
.login__social--title #text{
    background-color: #fff;
    position: absolute;
    top:30px;
    left:117px;
    align-items: center;
}
.login__social--login{
    padding-top: 50px;
    display: flex;
    height: 74px;
    justify-content: space-around;
}
#social--gg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100px;
    border-radius: 8px;
    border: 2px solid #789ADE;
    position: relative;
}
#social--gg a{
    
    text-decoration: none;
    color: black;
} 
    
#social--fb{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100px;
    border-radius: 8px;
    border: 2px solid #789ADE;
}
#social--fb a{
    
    text-decoration: none;
    color: black;
}

#social--apple{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100px;
    border-radius: 8px;
    border: 2px solid #789ADE;
}
#social--apple a{
    text-decoration: none;
    color: black;
}