*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Heebo', sans-serif;
}
/* Begin menu */
header{
    background-color: #fff;
    width: 100%;
    font-size: 20px; 
    font-weight: 900;
    position: fixed;
    top: 0;
}
.menu{
  display: flex;
  justify-content: right;
}
.menu ul >li{
    min-width: 50px;
    cursor: pointer;
    display: inline-block;
    padding: 30px 20px ;
}
.menu ul >li:hover{
   background-color: #FF6464;
   color: #fff;
}
/* end menu */
/* begin main */
.resume{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 150px 150px;
}
.resume__infor{
    width: 50%;
}
.resume__infor h1{
    padding-top: auto;
    padding-bottom: 40px;
}
.resume__infor p{
    padding-bottom: 40px;
    text-align: justify;
}
.resume__infor button{
    border: none;
    height: 48px;
    width: 210px;
    font-size: 20px;
    background-color: #FF6464;
    color: #fff;
    border-radius: 5px;
}
.resume__infor button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.resume img{
    display: inline-block;
    margin-left: 250px;
    border-radius: 50%;
    box-shadow: -5px 20px 20px  #EDF7FA;; 
}
.background-post{
    background-color:  #EDF7FA;     ;
}
.post{
    margin: 0 150px;
    padding: 30px 0;
}
.post__header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.post__header a{
    text-decoration: none;
    color: #00A8CC;;
}
.post__list{
    display: flex;
    justify-content: space-between;
}
.post__item{
    background-color: #fff;
}
.post__item:first-child{
    margin-right: 20px;
}
.post__item >h1, .post__item >span,.post__item >p{
    padding: 15px 20px;
}
.feature{
    padding: 30px 150px;
}
.feature__list{
    display: flex;  
    flex-direction: column;
}
.feature__item{
    display: flex;  
    padding: 30px 0 20px 0;
    border-bottom: 1px solid #ccc;
}
.feature__item--content{
   margin: 0 20px;
}
.feature__item--content >h1{
    margin-bottom: 10px;
}
.feature__item--content >p{
    margin-top: 20px;
}
.feature__item--content >span:last-child{
    opacity: 0.7;
}
.feature__item--date{
    background-color: #21243D;
    color: #fff;
    margin-right: 20px;
    padding: 0 10px;
    border-radius: 16px;
}
/* end main */
footer{
    text-align: center;
    padding-top: 100px;
}
.social__list a{
    text-decoration: none;
    color: black;
    padding-right: 20px;
    font-size: 30px;
}
.social__list a:hover{
    opacity: 0.8;
}
.copyright{
    padding: 20px 0 60px 0;
}

